<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alfanthariq.tts">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1823762604583482"
            android:exported="true" />

        <activity
            android:name="com.alfanthariq.tts.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alfanthariq.tts.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.alfanthariq.tts.GameActivity"
            android:label="TTS"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.alfanthariq.tts.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alfanthariq.tts.RegistrasiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alfanthariq.tts.ForgotActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alfanthariq.tts.NewsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alfanthariq.tts.PengaturanActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.alfanthariq.tts.services.NotifService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.alfanthariq.tts.TriviaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alfanthariq.tts.RiwayatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.alfanthariq.tts.HowtoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>